<div class="container" style="display: flex;">
  <!-- Left Side -->
  <div class='leftSide' style="width: 50%;">
    <!-- Page content -->
    <div class="page-content" style="text-align: left">
      <h1>Green Switch</h1>
      <p>We are committed to helping you transition to renewable energy sources specifically solar to help
        you save on your energy bills and do your part in helping the planet. Shifting to solar energy will
        go a long way in decreasing global emissions while granting you low operating costs and energy
        independence. Make the switch!
      </p>
    </div>

    <div class="image">
      <img src="assets/Solar.webp" height="400" width="600" border-radius="50">
    </div>
  </div>

  <!-- Right Side -->
  <div class="rightSide" style="flex: 1;">
    <div class="calculator">
      <app-savingscalculator></app-savingscalculator>
    </div>
  </div>
</div>

